<footer class="footer">
	<div class="footer-inner">
		<div class="copyright">
			&copy;
			<span class="copy-year">2015 - {{date published_at format="YYYY"}} </span>
			<span class="copy-author"><a class="ext-link" href="{{@blog.url}}">{{@blog.title}}</a></span>
		</div>
		<div class="support">
			<span class="powered-by">
			Powered by <a class="ext-link" href="https://ghost.org/" target="blank">Ghost</a>
		</span>
			<span class="theme-info">
			Theme <a class="ext-link">Onepice</a>
		</span>
		</div>
	</div>
</footer>